<div>
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a
      class="nav-link"
      data-toggle="pill"
      href="#"
      role="tab"
      aria-selected="false"
    >
      Containers
    </a>
    <a
      class="nav-link"
      data-toggle="pill"
      href="#"
      disabled="true"
      role="tab"
      aria-selected="false"
    >
      Images
    </a>
    <a
      class="nav-link"
      data-toggle="pill"
      href="#"
      role="tab"
      disabled="true"
      aria-selected="false"
    >
      Volumes
    </a>
  </div>
</div>
